.user-details-container{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    border:1px solid white;
}
.users-unorder-list-container{
  list-style: none;
  padding: 0px;
  margin:0px;
  display: flex;
  flex-direction: column;
 
  
  width: 100%;
}

.initial-list-para{
    font-weight: bold;
}

.users-list-item p{
  text-align: start;
  border-right: 1px solid white ;
  overflow-wrap:break-word;
  padding:5px;
  margin:0px;
}


.remove-button{
  background-color: transparent;
  border-radius: 50%;
  border:none;
  margin:auto;
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: bold;
  color:white;
  
}
